@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --primary-color: #f7f8ff;
  --secondary-color: #9195a3;
  --selected-sidebar-color: #d8e2eb;
}
* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}
#Index {
  /* display: flex;
  justify-content: center; */
  /* height: 100vh; */
  background-color: var(--secondary-color);
  font-family: "Open Sans", sans-serif;
}
#App {
  /* width: 450px; */
  /* overflow-y: auto; */
  background-color: var(--primary-color);
  position: relative;
}
#Admin {
  width: 100% !important;
  height: 100% !important;
  left: 0;
  background-color: var(--primary-color);
  position: fixed;
}
.admin-dashboard {
  transition: padding-left 0.4s ease, transform 0.4s ease;
}

.admin-dashboard.show {
  padding-left: 20%;
  transform: translateX(0);
}

.admin-dashboard.hide {
  padding-left: 0;
  transform: translateX(0%);
}

#App::-webkit-scrollbar {
  display: none;
}

/* @media screen and (max-width: 500px) {
  #App {
    width: 100%;
  }
  .admin-dashboard {
    padding-left: 0px !important;
  }
} */
