@use "./variables.scss" as *;

.tf-tree {
  font-size: 16px;
  overflow: auto;
  text-align: center;
  padding: 50px 0;
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  ul {
    display: inline-flex;
  }
  li {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 1em;
    position: relative;
    ul {
      margin: 5em 0;
    }
    li {
      &:before {
        border-top: 0.0625em solid $underline-mutted-color;
        content: "";
        display: block;
        height: 0.0625em;
        left: -0.03125em;
        position: absolute;
        top: -1.03125em;
        width: 100%;
      }
      &:first-child {
        &:before {
          left: calc(50% - 0.03125em);
          max-width: calc(50% + 0.0625em);
        }
      }
      &:last-child {
        &:before {
          left: auto;
          max-width: calc(50% + 0.0625em);
          right: calc(50% - 0.03125em);
        }
      }
      &:only-child {
        &:before {
          display: none;
        }
      }
    }
    &.tf-dotted-children {
      li {
        &:before {
          border-top-style: dashed;
        }
      }
    }
    &.tf-dashed-children {
      li {
        &:before {
          border-top-style: dashed;
        }
      }
    }
  }
  &.tf-gap-sm {
    li {
      padding: 0 0.6em;
      ul {
        margin: 1.2em 0;
      }
      li {
        &:before {
          top: -0.63125em;
        }
      }
    }
  }
  &.tf-gap-lg {
    li {
      padding: 0 1.5em;
      ul {
        margin: 3em 0;
      }
      li {
        &:before {
          top: -1.53125em;
        }
      }
    }
  }
}

.tf-tree li li:only-child > .tf-nc:before,
.tf-tree li li:only-child > .tf-node-content:before {
  height: 1.0625em;
  top: -1.0625em;
}

.tf-tree .tf-nc,
.tf-tree .tf-node-content {
  border: 0.0625em dashed #000;
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
}

.tf-tree .tf-nc:before,
.tf-tree .tf-node-content:before {
  top: -1.03125em;
}

.tf-tree .tf-nc:after,
.tf-tree .tf-nc:before,
.tf-tree .tf-node-content:after,
.tf-tree .tf-node-content:before {
  border-left: 0.0625em solid $underline-mutted-color;
  content: "";
  display: block;
  height: 4em;
  left: calc(50% - 0.03125em);
  position: absolute;
  width: 0.0625em;
}

.tf-tree .tf-nc:after,
.tf-tree .tf-node-content:after {
  top: calc(100% + 0.03125em);
}

.tf-tree .tf-nc:only-child:after,
.tf-tree .tf-node-content:only-child:after,
.tf-tree > ul > li > .tf-nc:before,
.tf-tree > ul > li > .tf-node-content:before {
  display: none;
}

.tf-tree.tf-gap-sm li > .tf-nc:before,
.tf-tree.tf-gap-sm li > .tf-node-content:before {
  height: 0.6em;
  top: -0.6em;
}

.tf-tree.tf-gap-sm li > .tf-nc:after,
.tf-tree.tf-gap-sm li > .tf-node-content:after {
  height: 0.6em;
}

.tf-tree.tf-gap-sm li li:only-child > .tf-nc:before,
.tf-tree.tf-gap-sm li li:only-child > .tf-node-content:before {
  height: 0.6625em;
  top: -0.6625em;
}

.tf-tree.tf-gap-lg li > .tf-nc:before,
.tf-tree.tf-gap-lg li > .tf-node-content:before {
  height: 1.5em;
  top: -1.5em;
}

.tf-tree.tf-gap-lg li > .tf-nc:after,
.tf-tree.tf-gap-lg li > .tf-node-content:after {
  height: 1.5em;
}

.tf-tree.tf-gap-lg li li:only-child > .tf-nc:before,
.tf-tree.tf-gap-lg li li:only-child > .tf-node-content:before {
  height: 1.5625em;
  top: -1.5625em;
}

.tf-tree li.tf-dotted-children .tf-nc:after,
.tf-tree li.tf-dotted-children .tf-nc:before,
.tf-tree li.tf-dotted-children .tf-node-content:after,
.tf-tree li.tf-dotted-children .tf-node-content:before {
  border-left-style: dashed;
}

.tf-tree li.tf-dotted-children > .tf-nc:before,
.tf-tree li.tf-dotted-children > .tf-node-content:before {
  border-left-style: dashed;
}

.tf-tree li.tf-dashed-children .tf-nc:after,
.tf-tree li.tf-dashed-children .tf-nc:before,
.tf-tree li.tf-dashed-children .tf-node-content:after,
.tf-tree li.tf-dashed-children .tf-node-content:before {
  border-left-style: dashed;
}

.tf-tree li.tf-dashed-children > .tf-nc:before,
.tf-tree li.tf-dashed-children > .tf-node-content:before {
  border-left-style: dashed;
}

.tf-tree {
  .tf-nc {
    width: 250px;
    min-height: 70px !important;
    border-radius: 15px;
    padding: 50px 15px 0px;
    z-index: 1;
    border: 0;

    img {
      border-radius: 100%;
      width: 80px !important;
      height: 80px !important;
      margin-top: -30px;
      padding: 1px;
    }

    .level-w {
      display: flex;
      justify-content: center;
    }

    .level-icon {
      border-radius: 100%;
      width: 80px !important;
      height: 80px !important;
      margin-top: -30px;
      padding: 1px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $green;
    }
    h5 {
      font-size: 18px;
    }
    .text-muted {
      font-size: 16px;
      font-weight: 600;
      color: $green !important;
    }
    .buttonGroupTeam {
      position: absolute;
      left: 0;
      right: 0;
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
    }
    .btn {
      background-color: transparent;
      padding: 0;
      border: 0;
      color: $EP-color;
      width: 30px;
      height: 30px;

      &:hover {
        color: $heading-text-color;
      }
    }
  }
}

.tf-tree .tf-nc:before {
  height: 2em;
}
