// $dashboard-primary-color: #f7f8ff;
$dashboard-primary-color: white;
$dashboard-secondary-color: #e6f3ff;
$dashboard-table-color: #d9edff;
$selected-sidebar-color: #d8e2eb;

$dashboard-button-color: #2a92fae8;
$dashboard-button-hover-color: #2a92fa;

$dashboard-app-breadcrum-color: #2a92fa;
